.upload-container {
  width: 95%;
  height: 95%;
  margin: auto;
  border: 2px dashed #ccc;
  text-align: center;
  position: relative;
}

.upload-icon {
  opacity: 0.7;
}

.upload-area {
  height: 100%;
  display: grid;
  justify-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.upload-area .dragging {
  background-color: #f0f0f0;
}

.uploaded-items-area {
  height: 100%;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease-in-out;
}

.uploaded-items-area .dragging {
  background-color: #f0f0f0;
}

.file-preview {
  display: flex;
  flex-wrap: wrap;
  max-height: 90%;
  padding: 15px;
  overflow-y: scroll;
  gap: 2rem;
}

.file-preview-item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130px;
  border-radius: 10px;
  gap: 0.4rem;
  padding: 1rem;
}

.file-preview-item p {
  margin-bottom: 0 !important;
}

.file-preview-item img {
  width: 90%;
  height: 90%;
}

.file-preview-item .existing-image {
  width: 100% !important;
  height: 100% !important;
  border-radius: 10px;
}

.file-preview-item .cross-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  color: #f50505;
  font-size: 2.5rem;
}

.upload-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 0 !important;
  margin: 10px;
}

.upload-more {
  border: 2px solid red;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 10px !important;
  top: -18px;
  position: absolute;
  right: -18px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;

  > img {
    width: 100%;
  }
}

.baseImage {
  filter: brightness(0.7);
}

.selected-icon {
  position: absolute;
  width: 4rem !important;
  height: 4rem !important;
}

@media (max-width: 450px) {
  .file-preview-item {
    padding: 1rem;

    > img {
      max-width: 70px;
      max-height: 70px;
    }
  }

  .upload-more {
    top: -14px;
    right: -8px;
  }
}
