<app-header [isBannerPresent]="bannerImages && bannerImages.length > 0">
</app-header>
<app-banner [bannerImages]="bannerImages"></app-banner>

@defer (on viewport) {
<section id="services" class="services">
  <h1 class="heading services-heading" id="services-heading">
    <div class="underline"></div>
    <p>Our</p>
    <span> services</span>
  </h1>
  <div class="content">
    <div class="image-container">
      <img src="{{ assetPath }}/bg-service.jpg" alt="Rickshaw" />
    </div>
    <table class="services-list">
      <tr>
        <td class="service-icon" width="20%">
          <div class="icon">
            <img
              src="{{ assetPath }}/icon1.png"
              alt="Electric Rickshaw Sales"
            />
          </div>
        </td>
        <td class="service-item">
          <div class="details">
            <h3>Electric Rickshaw Sales</h3>
            <p>
              Visit Newest Movestone Outlet To See Latest In Technology And You
              Can Put Enquiry Here, Our Sales Person will Call You.
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td class="service-icon" width="20%">
          <div class="icon">
            <img
              src="{{ assetPath }}/icon2.png"
              alt="Electric Rickshaw Sales"
            />
          </div>
        </td>
        <td class="service-item">
          <div class="details">
            <h3>Spare Parts Sales</h3>
            <p>
              We Sale Only Genuine And Branded Products With Highly-End
              Warranty. Check Our Products Catalogue Or Visit Offline.
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td class="service-icon" width="20%">
          <div class="icon">
            <img
              src="{{ assetPath }}/icon3.png"
              alt="Electric Rickshaw Sales"
            />
          </div>
        </td>
        <td class="service-item">
          <div class="details">
            <h3>Full Insurance</h3>
            <p>
              Our Insurance Company Covers Our Users Any Detailed Estimated Loss
              Or Damage In Case User's Have Accidents.
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td class="service-icon" width="20%">
          <div class="icon">
            <img
              src="{{ assetPath }}/icon4.png"
              alt="Electric Rickshaw Sales"
            />
          </div>
        </td>
        <td class="service-item">
          <div class="details">
            <h3>Battery Replacement</h3>
            <p>
              Replace Your Old Battery With Original OEM Batteries Of Your
              Choice And Sell Old Batteries At One Place.
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td class="service-icon" width="20%">
          <div class="icon">
            <img
              src="{{ assetPath }}/icon5.png"
              alt="Electric Rickshaw Sales"
            />
          </div>
        </td>
        <td class="service-item">
          <div class="details">
            <h3>Become A Dealer</h3>
            <p>
              We Would Like You To Be A Part Of Our Future Forward Journey.
              Please Contact Our Office Or Fill Form On This Link To Apply For
              Nonotronic India Dealership.
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td class="service-icon" width="20%">
          <div class="icon">
            <img
              src="{{ assetPath }}/icon6.png"
              alt="Electric Rickshaw Sales"
            />
          </div>
        </td>
        <td class="service-item">
          <div class="details">
            <h3>24/7 Support</h3>
            <p>
              Regardless Of Whether You Have To Get A Tyre Changed, Need An
              Expert Look Into Your Electric Vehicles Mechanism, You Can Reach
              Out To Us At Any Time And Avail Yourself Of The Best Assistance
              For Electric Situations.
            </p>
          </div>
        </td>
      </tr>
    </table>
  </div>
</section>
} @placeholder {
<div id="services-section">Services Section</div>
}

<div id="serices-footer" class="footer">
  <nav class="footer-section">
    <a
      class="cursor-pointer"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      routerLink="/"
    >
      home
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/about"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      about
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/products"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      products
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/services"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      services
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/reviews"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      reviews
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/contact"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      contact us
    </a>
  </nav>
  <div class="footer-link">www.movestone.in</div>
</div>
