<app-header [isBannerPresent]="bannerImages && bannerImages.length > 0">
</app-header>
<app-banner [bannerImages]="bannerImages"></app-banner>

@defer (on viewport) {
<section
  id="reviews"
  class="testimonial review-testimonials"
  *ngIf="testimonials && testimonials.length > 0"
>
  <div class="testimonial-content">
    <div class="testimonial-text">
      <h4>Our Testimonial</h4>
      <div class="underscore"></div>
      <h2>What Client’s Says</h2>
      <p>
        The other hand we denounce with righteous indignation and dislike men
        who are so beguiled and demoralized by the charms of pleasure moment.
        Dislike men who are so beguiled and demoralized by the charms of
        pleasure.
      </p>
      <div class="client-info">
        <img
          class="client-image"
          src="{{ assetPath }}/person.png"
          alt="Teodoro D. Williams"
        />
        <div>
          <h3>Teodoro D. Williams</h3>
          <p>Web Developer</p>
        </div>
        <div class="navigation">
          <span>
            <img src="{{ assetPath }}/arrow-testimonials-1.jpg" alt="" />
          </span>
          <span>
            <img src="{{ assetPath }}/arrow-testimonials-2.jpg" alt="" />
          </span>
        </div>
      </div>
    </div>
    <div class="testimonial-image">
      <img src="{{ assetPath }}/testimonials-pic.jpg" alt="Client Image" />
    </div>
  </div>
</section>
} @placeholder {
<div>Reviews Section</div>
}

<div id="review-footer" class="footer">
  <nav class="footer-section">
    <a
      class="cursor-pointer"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      routerLink="/"
    >
      home
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/about"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      about
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/products"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      products
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/services"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      services
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/reviews"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      reviews
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/contact"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      contact us
    </a>
  </nav>
  <div class="footer-link">www.movestone.in</div>
</div>
