<app-header></app-header>

@switch (stepperOrientation | async) {
@case ('horizontal') {
<div>Make your screen smaller to see a vertical stepper</div>
}
@case ('vertical') {
<div>Make your screen larger to see a horizontal stepper</div>
}
}

@defer (on viewport) {
<section id="admin-product-action" class="admin-product-action">
  <mat-stepper linear #stepper [orientation]="(stepperOrientation | async)!">

    <!-- ################# Fill out basic product details ############################ -->
    <mat-step [stepControl]="basicProductDetailsForm" errorMessage="Product name is required" completed="false">
      <ng-template matStepLabel>Fill out basic product details</ng-template>
      @if (basicProductDetailsForm) {
      <form [formGroup]="basicProductDetailsForm">
        <div class="admin-form">
          <div class="form-group">
            <label for="productID">Product ID *</label>
            <mat-form-field appearance="outline" class="mat-input">
              <input matInput formControlName="productID" type="text" name="productID" id="productID" required />
              <mat-error *ngIf="basicProductDetailsForm.get('productID')?.hasError('required')">
                Product ID is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <label for="productName">Product Name *</label>
            <mat-form-field appearance="outline" class="mat-input">
              <input matInput formControlName="productName" type="text" name="productName" id="productName" required />
              <mat-error *ngIf="basicProductDetailsForm.get('productName')?.hasError('required')">
                Product name is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="buttons-container mt-6">
          <button mat-button class="btn" (click)="onBasicDetailsFilled($event)">Next</button>
        </div>
      </form>
      }
    </mat-step>

    <!-- ################# Fill out product informations ############################ -->
    <mat-step [stepControl]="productInformationForm" completed="false">
      <ng-template matStepLabel>Fill out product informations</ng-template>
      @if (productInformationForm) {
      <form [formGroup]="productInformationForm" class="admin-grid">
        @for (feature of getProductFeatures; track $index) {
        @if (!featuresToOmit[feature]) {
        <div class="admin-form">
          <div class="form-group">
            <label [for]="feature">{{camelCaseToWords(feature)}}</label>
            <mat-form-field appearance="outline" class="mat-input">
              <input matInput [formControlName]="feature" type="text" [name]="feature" [id]="feature" />
            </mat-form-field>
          </div>
        </div>
        }
        }
        <div class="admin-form">
          <div class="form-group">
            <label for="category">Category</label>
            <mat-form-field appearance="outline" class="mat-input">
              <mat-select disableRipple id="category" placeholder="Select Product Category">
                @for (category of categories; track $index) {
                  <mat-option [value]="category.id">{{category.name}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        
      </form>
      }
      <div class="buttons-container mt-6">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-stroked-button (click)="productInformationForm.reset()">Reset</button>
        <button mat-button class="btn" (click)="onProdInfoFilled()">Next</button>
      </div>
    </mat-step>


    <!-- ################# Select product color and upload images ############################ -->
    <mat-step completed="false">
      <form class="color-section">
        <ng-template matStepLabel>Select product color and upload images</ng-template>
        <div class="buttons-container color-container my-5">
          @if (this.prodColors) {
          @for(eachColor of getColorOptions; track eachColor) {
          <div class="color-preview" [ngClass]="{'edit-colors': isColorEditable}">
            <div class="product-color" [ngStyle]="{'background-color': eachColor}" (click)="uploadImageForExistingColor(eachColor, $index)">
            </div>
            @if (isColorEditable) {
            <img src="{{ assetPath }}/remove-icon.svg" class="cross-icon" alt="Remove" (click)="removeColor(eachColor, $index)">
            }
          </div>
          }
          }

          @if (!isColorEditable) {
          <div ngx-colors-trigger (close)="createNewColor($event)">
            <div class="add-color">
              <span>+</span>
            </div>
          </div>
          }
        </div>

        <div class="buttons-container mt-6">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-stroked-button (click)="editColors()">{{!isColorEditable ? 'Edit Colors' : 'Cancel'}}</button>
          <button mat-stroked-button (click)="resetProductColors()">Reset</button>
          <button mat-button class="btn" (click)="onImageUploaded()">Next</button>
        </div>
      </form>
    </mat-step>

    <!-- ################# Completed ############################ -->
    <mat-step completed="false">
      <ng-template matStepLabel>Done</ng-template>
      <div class="completed-section">
        <img src="{{assetPath}}/completed.svg" alt="Completed">
        <div class="process-finish">
          <h1>Your product is {{isAddProductPage ? 'added' : 'updated'}}!</h1>
          <p>{{isAddProductPage ? 'Check your added product in admin dashboard and enable it.' : 'Check your updated product in admin dashboard.'}}
          </p>
        </div>
      </div>
      <div class="buttons-container mt-6">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button class="btn" (click)="backToDashboard()">Go to Admin Dashboard</button>
      </div>
    </mat-step>
  </mat-stepper>
</section>
} @placeholder {
<div>Admin Product Section</div>
}
