<!-- <div id="footer" class="footer"> -->
<div id="last-footer" class="last-footer">
  <a href="tel:{{ phoneNumber }}" class="social-link">
    <label for="fa-phone">
      <i id="fa-phone" class="fa-solid fa-phone"></i>
      <span>Call</span>
    </label>
  </a>
  <a [href]="facebookID" class="social-link">
    <label for="fa-facebook">
      <i id="fa-facebook" class="fa-brands fa-facebook"></i>
      <span>Facebook</span>
    </label>
  </a>
  <a [href]="instagramID" class="social-link">
    <label for="fa-instagram">
      <i id="fa-instagram" class="fab fa-instagram"></i>
      <span>Instagram</span>
    </label>
  </a>
  <a href="//api.whatsapp.com/send?phone={{ phoneNumber }}" class="social-link">
    <label for="fa-whatsapp">
      <i id="fa-whatsapp" class="fa-brands fa-whatsapp"></i>
      <span>Whatsapp</span>
    </label>
  </a>
</div>
<!-- </div> -->
