<table mat-table matTableResponsive [dataSource]="dataSource" matSort multiTemplateDataRows>
  @for (column of displayedColumns; track column) {
  <ng-container matColumnDef="{{ column }}">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ column }}
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element[keyExpansion[column]] }}
    </mat-cell>
  </ng-container>
  }

  <ng-container matColumnDef="expand">
    <mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="
          expandedElement = expandedElement === element ? null : element;
          $event.stopPropagation()
        ">
        @if (expandedElement === element) {
        <mat-icon>keyboard_arrow_up</mat-icon>
        } @else {
        <mat-icon>keyboard_arrow_down</mat-icon>
        }
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="element-description">
          {{ element.queryMessage }}
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand" class="element-row" [class.expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"></mat-row>
  <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></mat-row>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="5" class="p-4 text-center">No data found</td>
  </tr>
</table>

<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
</mat-paginator>
