@if(bannerImages && bannerImages.length > 0) {
<div class="header-banner">
  <div class="banner">
    @if (bannerImages.length > 1) {
    <div class="hero-content">
      <div class="carousel">
        <button
          type="button"
          id="carousel-left-button"
          title="carousel-left-button"
          class="carousel-button left"
        >
          <img src="{{ assetPath }}/header-arrow.png" alt="" />
        </button>
        <button
          type="button"
          id="carousel-right-button"
          title="carousel-right-button"
          class="carousel-button right"
        >
          <img src="{{ assetPath }}/header-arrow1.png" alt="" />
        </button>
      </div>
    </div>

    <swiper-container fmSwiper [config]="bannerConfig" init="false">
      @for (eachContent of bannerImages; track eachContent) {
      <swiper-slide>
        <img
          [src]="eachContent.attribute1"
          alt="image"
          class="banner-image"
          loading="lazy"
        />
      </swiper-slide>
      }
    </swiper-container>
    } @else {
    <img
      [src]="bannerImages[0].attribute1"
      alt="image"
      class="banner-image"
      loading="lazy"
    />
    }
  </div>
</div>
}
