@defer (on viewport) {
<div class="product-footer-banner">
  <div class="product-footer-banner-text">
    <div>Have any question</div>
    <div>about us?</div>
    <div class="button-container">
      <a href="tel:7605083988" class="phone-button">
        <img
          src="{{ assetPath }}/product_page_contact.jpg"
          class="icon"
          alt=""
        />
        {{ phoneNumber }}
      </a>
      <a href="#" class="contact-button"> Contact Us </a>
    </div>
  </div>

  <img src="{{ assetPath }}/product_page_bg2.jpg" alt="" />
</div>
} @placeholder {
<div>Product Banner Section</div>
}
